body {
    background-color: #000000;
    color: #FFFFFF;
}

a {
    color: #CCFFFF;
}

ul.thumbnails {
    padding: 0;
    margin: 0;

    li {
        padding: 20px;
        float: left;
        list-style: none;
        line-height: 0;

        img {
            border: 1px solid #444444;
            &:hover {
                border: 1px solid #FFFFFF;
            }
        }
    }
}

form {
    border: 1px solid #FFFFFF;
    padding: 20px;
    margin: 20px;
    background-color: #444444;
}