{% extends 'base.html.twig' %}

{% block title %}New RelativeAlias{% endblock %}

{% block body %}
    <h1>Create new RelativeAlias</h1>

    {{ include('relative_alias/_form.html.twig') }}

    <a href="{{ path('relative_alias_index') }}">back to list</a>
{% endblock %}
