{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    {#% if app.user %}
         {{ include('image/_form.html.twig') }}
    {% endif %#}

    <ul class="thumbnails lazy-load-images">
        {% for image in images|reverse %}
            <li>
                <a href="{{ path('image_variant_show', {
                    'id'      : image.id,
                    'variant' : 'large',
                    'filename': image.originalFilenameReal
                    }) }}">
                    <img src="/pics/loading.png"
                         data-src="{{ path('image_variant_show', {
                        'id'      : image.id,
                        'variant' : 'thumbnail',
                        'filename': image.originalFilenameReal
                        }) }}" alt="{{ image.originalFilenameReal }}" />
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.lazy.js"></script>
{% endblock %}