<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/flexboxgrid.css" />
    <link rel="stylesheet" href="/css/page.css" />
    {% block stylesheets %}{% endblock %}

    <script src="/js/jquery.js"></script>
    <script src="/js/page.js"></script>

    {% block javascripts %}{% endblock %}
</head>
<body>
    {% if app.user is null and app.request.get('_route') != 'app_login' %}
         <a href="{{ path('app_login') }}">Login to upload some more photos</a>
    {% endif %}

    <main>
        {% block body %}{% endblock %}
    </main>

</body>
</html>
