{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ relationName(user) }}</h1>

    {% if form is defined %}
        {{ include('relative_alias/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}
{% endblock %}
